* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background: #0f172a;
  color: white;
}

.hero-btn {
  padding: 12px 28px;
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-btn.primary {
  background: #38bdf8;
  color: #020617;
  border: none;
}

.hero-btn.primary:hover {
  transform: translateY(-3px);
}

.hero-btn.secondary {
  background: transparent;
  color: white;
  border: 1px solid #38bdf8;
}

.hero-btn.secondary:hover {
  background: #38bdf8;
  color: #020617;
}

.hero-btn {
  padding: 12px 30px;
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-btn.primary {
  background: #38bdf8;
  color: #020617;
  border: none;
}

.hero-btn.primary:hover {
  transform: translateY(-3px);
}

.hero-btn.secondary {
  background: transparent;
  color: white;
  border: 1px solid #38bdf8;
}

.hero-btn.secondary:hover {
  background: #38bdf8;
  color: #020617;
}


.contact-input {
  background: transparent;
  border: 1px solid #1e293b;
  padding: 14px 18px;
  border-radius: 12px;
  color: white;
  font-size: 14px;
  outline: none;
  transition: border 0.3s ease;
}

.contact-input:focus {
  border-color: #38bdf8;
}

.contact-input {
  background: transparent;
  border: 1px solid #1e293b;
  padding: 14px 18px;
  border-radius: 12px;
  color: white;
  font-size: 14px;
  outline: none;
}

.contact-input:focus {
  border-color: #38bdf8;
}




.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 80px;
  background: rgba(2, 6, 23, 0.85);
  backdrop-filter: blur(10px);
  display: flex;
  gap: 30px;
  z-index: 1000;
}

.navbar a {
  color: #94a3b8;
  text-decoration: none;
  font-size: 14px;
}

.navbar a.active {
  color: #38bdf8;
}
